<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
        http://www.springframework.org/schema/util
        http://www.springframework.org/schema/util/spring-util.xsd">

    <bean id="dataSource_m" class="com.alibaba.druid.pool.DruidDataSource" init-method="init" destroy-method="close">
        <property name="driverClassName" value="com.mysql.jdbc.Driver" />
        <property name="url" value="jdbc:mysql://ikuboo:3401/dbautoswitch" />
        <property name="username" value="root" />
        <property name="password" value="root" />
        <property name="initialSize" value="0" />
        <property name="maxActive" value="1" />
        <property name="minIdle" value="0" />
    </bean>

    <bean id="dataSource_s1" class="com.alibaba.druid.pool.DruidDataSource" init-method="init" destroy-method="close">
        <property name="driverClassName" value="com.mysql.jdbc.Driver" />
        <property name="url" value="jdbc:mysql://ikuboo:3402/dbautoswitch" />
        <property name="username" value="root" />
        <property name="password" value="root" />
        <property name="initialSize" value="0" />
        <property name="maxActive" value="1" />
        <property name="minIdle" value="0" />
    </bean>

    <bean id="dataSource_s2" class="com.alibaba.druid.pool.DruidDataSource" init-method="init" destroy-method="close">
        <property name="driverClassName" value="com.mysql.jdbc.Driver" />
        <property name="url" value="jdbc:mysql://ikuboo:3403/dbautoswitch" />
        <property name="username" value="root" />
        <property name="password" value="root" />
        <property name="initialSize" value="0" />
        <property name="maxActive" value="1" />
        <property name="minIdle" value="0" />
    </bean>
    <util:map id="slaveDataSourceMap">
        <entry key="dataSource_s1" value-ref="dataSource_s1" />
        <entry key="dataSource_s2" value-ref="dataSource_s2" />
    </util:map>
    <util:map id="configMap">

    </util:map>
    <bean id="masterSlaveRule" class="com.jd.auction.common.core.rule.MasterSlaveRule">
        <constructor-arg name="name" value="test" />
        <constructor-arg name="masterDataSource" ref="dataSource_m" />
        <constructor-arg name="masterDataSourceName" value="dataSource_m" />
        <constructor-arg name="slaveDataSourceMap" ref="slaveDataSourceMap" />
    </bean>

    <bean id="autoMaticDataSource" class="com.jd.auction.common.core.datasouce.AutoMaticDataSource" >
        <constructor-arg name="masterSlaveRule" ref="masterSlaveRule"/>
        <constructor-arg name="configMap" ref="configMap"/>
    </bean>

</beans>