<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">

    <bean id="dataSource_m" class="com.alibaba.druid.pool.DruidDataSource" init-method="init" destroy-method="close">
        <property name="driverClassName" value="com.mysql.jdbc.Driver" />
        <property name="url" value="jdbc:mysql://ikuboo:3401/dbautoswitch" />
        <property name="username" value="root" />
        <property name="password" value="root" />
        <property name="initialSize" value="0" />
        <property name="maxActive" value="1" />
        <property name="minIdle" value="0" />
    </bean>

    <bean id="dataSource_s1" class="com.alibaba.druid.pool.DruidDataSource" init-method="init" destroy-method="close">
        <property name="driverClassName" value="com.mysql.jdbc.Driver" />
        <property name="url" value="jdbc:mysql://ikuboo:3402/dbautoswitch" />
        <property name="username" value="root" />
        <property name="password" value="root" />
        <property name="initialSize" value="0" />
        <property name="maxActive" value="1" />
        <property name="minIdle" value="0" />
    </bean>

    <bean id="dataSource_s2" class="com.alibaba.druid.pool.DruidDataSource" init-method="init" destroy-method="close">
        <property name="driverClassName" value="com.mysql.jdbc.Driver" />
        <property name="url" value="jdbc:mysql://ikuboo:3403/dbautoswitch" />
        <property name="username" value="root" />
        <property name="password" value="root" />
        <property name="initialSize" value="0" />
        <property name="maxActive" value="1" />
        <property name="minIdle" value="0" />
    </bean>

    <bean id="masterNamedDataSource" class="com.jd.auction.common.automatic.datasouce.NamedDataSource">
        <constructor-arg name="name" value="master"/>
        <constructor-arg name="dataSource" ref="dataSource_m"/>
    </bean>

    <bean id="slave1NamedDataSource" class="com.jd.auction.common.automatic.datasouce.NamedDataSource">
        <constructor-arg name="name" value="slave1"/>
        <constructor-arg name="dataSource" ref="dataSource_s1"/>
        <constructor-arg name="weight" value="2" />
    </bean>

    <bean id="slave2NamedDataSource" class="com.jd.auction.common.automatic.datasouce.NamedDataSource">
        <constructor-arg name="name" value="slave2"/>
        <constructor-arg name="dataSource" ref="dataSource_s2"/>
        <constructor-arg name="weight" value="3" />
    </bean>

    <bean id="loadBalanceStrategy" class="org.springframework.beans.factory.config.FieldRetrievingFactoryBean">
        <property name="staticField" value="com.jd.auction.common.automatic.constant.LoadBalanceStrategy.ROUND_ROBIN" />
    </bean>

    <bean id="autoMaticDataSource" class="com.jd.auction.common.automatic.datasouce.AutoMaticDataSource" init-method="init">
        <property name="masterDataSource" ref="masterNamedDataSource" />
        <property name="slaveDataSources">
            <list>
                <ref bean="slave1NamedDataSource" />
                <ref bean="slave2NamedDataSource" />
            </list>
        </property>
        <property name="loadBalanceStrategy" ref="loadBalanceStrategy" />
    </bean>

</beans>